@{
	ViewData["Title"] = "Úvod";
}
<div style="justify-content:center; text-align: center;">
	<h1>Vítej v záznamníku činností</h1>
	<br />
	<h6>Zde si můžeš dělat zápisky, přece nechceš na nic zapomenout!</h6>
	<br />
	<p>Stačí si uělat krátký záznam a už v životě na nic nezapomeneš</p>
	<br />
	<p>Tak neváhej a dej se do toho...</p>
</div>
