@model SeznamUkonu.Models.SeznamCinnosti

@{
	ViewData["Title"] = "Upravit";
}


<h4>Upravit činnost</h4>
<hr />
<div class="row">
	<div class="">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="row">
				<div class="form-group col-md-2">
					<label asp-for="Kdy" class="control-label">Termín činnosti</label>
					<input asp-for="Kdy" class="form-control" />
					<span asp-validation-for="Kdy" class="text-danger"></span>
				</div>
				<div class="form-group col-md-2">
					<label asp-for="JmenoCinnosti" class="control-label">Jméno činnosti</label>
					<input asp-for="JmenoCinnosti" class="form-control" />
					<span asp-validation-for="JmenoCinnosti" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group col-md-8">
				<label asp-for="Podrobnosti" class="control-label">Stručný popis o co jde</label>
				<textarea class="form-control" asp-for="Podrobnosti" rows="4" placeholder=""></textarea>
				<span asp-validation-for="Podrobnosti" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Uložit změny" class="btn btn-primary m-1" />
			</div>
		</form>
	</div>
</div>

<div>
	<a class="btn btn-secondary m-1" asp-action="Index">Zpět</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
